.admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.admin__heading {
    margin-bottom: 20px;
    text-align: center;
}

.search {
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

form.search_form {
    display: flex;
    justify-content: space-between;
}

form.search_form div {
    width:100%;
}

.search__btn button{
    padding: 5px 10px;
    width: 100px;
}

.search__btn--submit {
    background: #bd8a4f;
    color: #fff;
}

.search__btn--reset {
    background: #f3cca0;
    color: #fff;
}

.contents {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
}

svg.w-5.h-5 {
    width: 30px !important;
    height: 30px !important;
}

.admin_table {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #a9a9a9;
}

.admin_table th {
    background: #bd8a4f;
    padding: 10px;
    border: 1px solid #a9a9a9;
    color: #fff;
}

.admin_table td {
    border-bottom: 1px solid #a9a9a9;
}

.search_form {
    flex: 1;
    gap: 10px;
    text-align: center;
}

.search_form input{
    padding: 5px 10px;
}

.search_form__select {
    padding: 5px;
}

.Details-button {
    padding: 10px;
    margin: 0 20px;
    border-radius: 3px;
    background: #fff;
    color: #bd8a4f;
    cursor: pointer;
    border-color: beige;
}