body {
    color: #8B6F4E;
    max-width: 1230px;
}

header {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.header__nav {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
}



.title-family {
    font-family: 'Playfair Display',serif;
}

.header__title {
    margin: 20px auto;
    text-align: center;
}

.header__title a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: inherit;
}



.header__button {
    padding: 10px 10px;
    border-radius: 3px;
    background: #bd8a4f;
    color: #fff;
    text-decoration: none;
    margin-top: 25%;
}