input {
    background: #f5f5f5;
    border: none;
    padding: 5px;
    font-size: 14px;
    color: #aaa;
    width: 100%;
}

.contents__title {
    margin: 20px auto;
    text-align: center;
}

.contents__title h2 {
    margin: 0;
}

.contact-form {
    width: 800px;
    margin: 0 auto;
}

.contact-form td {
    padding: 12px 8px;
}

.contact-form__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.contact-form__required {
    color: red;
}


.contact-form__gender input {
    width: 30px;
}

.contact-form__gender-input-male {
    margin-left: 10px;
}

.contact-form__gender-input-female {
    margin-left: 40px;
}

.contact-form__gender-input-other {
    margin-left: 40px;
}


.contact-form__tel {
    width: 30%;
}

.contact-form__tel-separator {
    display: inline-block;
    width: 10px;
    text-align: center;
}


