.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    color: red;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    background: #f5f5f5;
}

.form__input--name_text input{
    padding: 10px;
    width: 275px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    background: #f5f5f5;
}
.form__input--name_text-first_name {
    margin-right: 50px;
}

.form__input--gender {
    text-align: left;
    width: 600px;
}

.form__input--gender-label {
    margin-right: 40px;
}

.form__input--gender-radio{
    width: 200px;
}

input[type="radio"] {
    accent-color: #8B6F4E;
}

.form__input--tel input{
    width: 185px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    background: #f5f5f5;
    padding: 10px;
    text-align: center;
}

.form__inputt--sub_address {
    margin-bottom: 20px;
}

.form__input--select {
    width: 600px;
    text-align: left;
}

.form__input--select select {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f5f5f5;
    padding: 10px;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #8B6F4E;
    color: #fff;
    cursor: pointer;
}